<% layout('layouts/boilerplate') -%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="camp-title" class="form-label">Title </label>
        <input
          type="text"
          id="camp-title"
          name="campground[title]"
          placeholder="Title"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-location" class="form-label">Location </label>
        <input
          type="text"
          id="camp-location"
          name="campground[location]"
          placeholder="Location"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-price" class="form-label">Price </label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input
            type="text"
            id="camp-price"
            name="campground[price]"
            placeholder="0.00"
            class="form-control"
            aria-describedby="price-label"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="camp-image" class="form-label">Image </label>
        <input
          type="text"
          id="camp-image"
          name="campground[image]"
          placeholder="Image URL"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="camp-desc" class="form-label">Description </label>
        <textarea
          id="camp-desc"
          name="campground[description]"
          placeholder="Description"
          class="form-control"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Campground</button>
      </div>
    </form>
  </div>
</div>
